
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Nunito:wght@200&family=Staatliches&family=Syncopate:wght@400;700&display=swap');



.card-list {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  color: #363636;


}
body{
  background-color: #ffb600;
}


.navbar {
  background: rgb(255,140,0);
  background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,0,0,1) 100%);
  font-family: Staatliches;
}

img{
  border:none;


}
.title{
  font-family: Staatliches;
  font-size: large ;
}
.games {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  transition: 1s;
}
.games:hover{
  transform: scale(1.1);
  background: #ffffff;
  z-index: 2;
  box-shadow: 2px 2px 2px #000;

}

.games img {
  width: 100%;
  margin: auto;
  display: block;
}

.buttonEdit {
  width: 12px;
  color: #f8f4f4;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 3px;
  background-color: #ffb728;
  font-size: small;
}

.buttonDelete {
  width: 12px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 3px;
  background-color: #ea6b00;
  text-decoration: none;
  font-size: small;
  color:white;
}
.extra-info {
  display: none;
  transition: 0.3s;

}
.games:hover .extra-info {
  display: block;
}
.preciosAlaDerecha{
  justify-content: flex-end;
  display: grid;

}
.bloqueGameList{
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  padding: 5px;
}

.imglogo {
  width: 26px;
}
.h1clase{
  margin-top: 1rem;
  font-family: Staatliches;
}

.welcome{
  margin: 10px;
}
