.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-family: fantasy;

}

.games {
  border: 1px solid black;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}

.games img {
  width: 60%;
  margin: auto;
  display: block;
}

.buttonEditDelete {
  width: 12px;
  color: #f8f4f4;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 3px;
  background-color: #ffb728;
  font-size: small;
}

.buttonDelete {
  width: 12px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 3px;
  background-color: #ea6b00;
  text-decoration: none;
  font-size: small;
  color:white;
}

.nav-item dropdown{
  list-style: none;
}