<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="welcome">
 <!--   <img src="../img/logo.png">-->
    <div class="welcome"> <h2>Welcome to LegacyGame. </h2>
    <div class="parrafo"> <p>Go to the <a href="/games/">Games</a> section or <a href="/games/new">create a new game</a></p>
    </div>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>

</body>
</html>