<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

    <header th:replace="fragments/header"></header>
    <section class="container">
      <h1 th:text="${title}"></h1>

        <div class="card-list">
            <div class="games" th:each="game: ${games}">
                <img th:src="@{/img/recorteLEGACY GAMES.png}">
                <div class="id" th:text="${game.id}"></div>
                <div class="title" th:text="${game.title}"></div>
                <div class="plataform" th:text="${game.platform}"></div>
                <div class="years" th:text="${game.years}"></div>
                <div class="pegi" th:text="${game.pegi}"></div>
                <div class="cost" th:text="${game.cost}"></div>
                <div class="etiqueta" th:text="${game.etiqueta}"></div>
                <br>
                <a class="buttonEditDelete" href="#">Edit/Delete</a>

            </div>
        </div>
    </section>




<footer th:replace="fragments/footer"></footer>


</body>
</html>
