<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <div class="bloqueGameList">
        <h1 class="h1clase" th:text="${title}"></h1>
    </div>
    <div class="card-list">
        <div th:id="${game.id}" class="games" th:each="game: ${games}">
            <img th:src="@{${game.photoImagePath}}"/>
            <div class="title" th:text="${game.title}"></div>
            <div class="platform">Platform: <span class="game__text" th:text="${game.platform}"></span></div>

            <div class="preciosAlaDerecha">

                <div class="cost">Price: <span class="game__text" th:text="${game.cost}"></span>€</div>
                <div class="etiqueta" th:text="${game.etiqueta}">
                    <td>
                        <span th:if="${game.etiqueta == 'null'}">null</span>
                        <span th:unless="${game.etiqueta == 'null'}" class="game__text"
                              th:text="${game.etiqueta}"></span>
                    </td>
                </div>

            </div>
                <div class="sales"><mark>End price: <span class="game__text" th:text="${game.sales}"></span>€</mark></div>


                <!--<td th:text="${game.sales == 1} ? 'ACTIVO' : 'BLOQUEADO'" /> -->

            <div class="extra-info">
              <div class="id" hidden th:text="${game.id}"></div>

                <!-- <td>
                    <a sec:authorize="isAuthenticated()" class="games" th:id="${game.id}"></a>
                </td>-->
              <div class="years">Year: <span class="game__text" th:text="${game.years}"></span></div>
              <div class="pegi">PEGI: <span class="game__text" th:text="${game.pegi}"></span></div>
                <td>
                    <a sec:authorize="isAuthenticated()" class="buttonEdit" th:href="'/games/edit/'+${game.id}">🖊</a>
                </td>
                <td>
                    <a sec:authorize="isAuthenticated()" class="buttonDelete"
                       th:href="'/games/delete/'+${game.id}">🗑</a>
                </td>
            </div>
        </div>
    </div>
</section>


<footer th:replace="fragments/footer"></footer>


</body>
</html>
