<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header"></header>

<section class="container">
    <h1 th:text="${title}"></h1>

    <div class="card-list">
        <div class="games" th:each="game: ${games}">
          <img th:src="@{/img/recorteLEGACY GAMES.png}">
            <div th:text="${game.id}"></div>
            <div th:text="${game.title}"></div>
            <div th:text="${game.platform}"></div>
            <div th:text="${game.years}"></div>
          <a class="buttonEdit" href="www.localhost:8080">edit</a>
          <a class="buttonDelete" href="www.localhost:8080">delete</a>

        </div>
    </div>


</section>


<footer th:replace="fragments/footer"></footer>


</body>
</html>
